<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <a  href="/Admin/index">Dashboard</a>
        <a  href="/Admin/Orders">Orders</a>
        <a  href="/Admin/Assign">Asigned</a>
        <a  href="/Admin/Delivery">Delivery</a>
        <a  href="/Login/logout">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        Copyright @@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
